*.class

# Package Files #
*.jar
*.war
*.ear

# IntelliJ files
.idea
backoffice-api.iml

target
bin
.classpath
.settings
.project
.tern-project
${sys:catalina.home}/
mvnw
mvnw.cmd
.factorypath
.springBeans

src/main/webapp/
.DS_Store